<div class="grid-1-1fr gap-y-8 min-h-100px w-100px bg-primary">
  <form class="review-form" name="review-form">
    <textarea class="review-comment" value="hello" name="comment" required></textarea>
    <input class="review-author" name="author" placeholder="Ditt namn:" value="" required>
    <input class="review-rating" type="number" min="0" max="5" required>
    <button class="review-submit" type="submit">Submit</button>
  </form>
</div>