<div class="grid-1-1fr gap-y-8 min-h-100px w-100px bg-primary pb-8">
  <form class="review-form flex flex-col gap-4" name="review-form">
    <textarea class="review-comment px-2 py-1" value="hello" placeholder="Skriv en kommentar" name="comment" required></textarea>
    <input class="review-author px-2 py-1" name="author" placeholder="Ditt namn" value="" required>
    <input class="review-rating px-2 py-1" type="number" min="0" max="5" value="3" required>
    <button class="review-submit bg-secondary text-white text-lg font-bold rounded" type="submit">Skicka recension</button>
  </form>
</div>