<aside class="bg-secondary sticky top-0 min-h-full">
    <a href="/"><img class="p-4 mb-10 cursor-pointer" src="../bihjografenlogo.png" alt="Bihjografen logotyp"></a>
    <ul class="flex flex-col gap-10 pl-4 text-[#FFA500] text-3xl font-bold">
        <% const links = [ { href: '/', text: 'Hem' }, { href: '/movies', text: 'Filmer' }, { href: '/about', text: 'Om oss' }, { href: '/login', text: 'Logga in' } ] %>
        <% links.forEach(link => { %>
        <li class="hover:text-[#ffcb6a] px-8 py-4 ml-4 <%= link.href === active ? 'active' : '' %>"><a href="<%= link.href %>"><%= link.text %></a></li>
        <% }) %>
    </ul>
</aside>