<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

<body class="bg-body">
    <main class="grid-20-1fr min-h-full w-full bg-primary absolute">
        <%- include('./partials/sidebar', { active: '/about' }) %>
            <section class="flex flex-col justify-center items-center">
                <h1 class="text-white text-4xl text-center py-4">Om oss</h1>
                <p class="text-white text-lg w-2/5 text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam pariatur sint ipsa fuga itaque sed unde, laudantium consequatur illo doloremque earum, maxime nulla ex libero accusantium voluptatem? Illum, similique fuga.
                </p>
            </section>
    </main>
</body>

</html>