<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

    <body class="bg-body">
        <main class="grid-20-1fr gap-y-8 min-h-full w-full bg-primary absolute">
            <%- include('./partials/sidebar', { active: '/movies' }) %>
                <%- include('./partials/getMovies', { movies: [movie], hrefText: 'Boka' , href: '/booking/' , showIntro:
                    true }) %>
        </main>
    </body>

</html>